@import url("./common/all.css");

/* nav indicator */
ul > li.divination > a{
    border-bottom: solid 1px var(--gold);
}

/* hero section */
.crystal-ball{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.crystal-ball img{
    width: 100%;
    max-width: 600px;
}

.caption{
    max-width: 726px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

/* section1 */
.container-tarot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.container-tarot .tarot{
    width: 100%;
    max-width: var(--screen);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    margin: 20px;
}

.container-tarot img{
    padding: 0 12px;
    width: 100%;
}


/* === flip animation === */
.main-container{
    width: 300px;
    height: 420px;
}

.the-card{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s linear;
}

.front{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    position: absolute;
}

.main-container:hover .the-card{
    transform: rotateY(180deg);
}




@media (max-width: 1199px) {
    .container-tarot .tarot{
        padding: 2%;
    }

    .container-tarot .tarot img{
        max-width: 240px;
        margin: 2%;
    }

    .front{
        display: none;
    }

    .back{
        width: 100%;
        height: 100%;
        backface-visibility: visible;
        display: block;
        position: absolute;
    }

    .main-container{
        pointer-events:none;
        width: 240px;
        height: 320px;
    }
}


@media (max-width: 767px) {
    .container-tarot .tarot{
        flex-wrap: wrap;
    }

    .main-container{
       width: 200px;
       height: 260px;
    }

}

@media (max-width: 374px) {
    .container-tarot img{
        padding: 5%;
    }

    .caption{
        font-size: 16px;
    }
}



/* section2 */
.container-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.selection > label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: var(--screen);
    margin: 0 40px;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .container-selection{
        flex-wrap: wrap;
    }

    .selection > label{
        margin: 5%;
    }

    .selection > label img{
        width: 100%;
    }
}

/* radio button style */
.text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.radio input{
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark{
    border: solid 2px var(--gold);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: none;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--gold);
    border-radius: 100%;
    display: none;
}

.radio input:checked + .checkmark::before{
  display: flex;

}


/* section3 */
.crystal-ball-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.crystal-ball-button img{
    width: 100%;
    max-width: 600px;
}


.crystal-ball-button > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px;
}


.crystal-ball-button p{
    opacity: 0;
    color: var(--gold);
    transform: translateY(-100px);
    transition: ease .5s;
}

.crystal-ball-button > a:hover > p{
    opacity: 1;
    transition: ease .5s;
}

@media (max-width: 1199px) {
    .crystal-ball-button p{
        opacity: 1;
        transform: translateY(-200px);
    }
}


@media (max-width: 767px){
    .crystal-ball-button{
        margin-bottom: 2rem;
    }

    .crystal-ball-button p{
        transform: translateY(-140px);
    }
}
