@import url("./common/all.css");

/* nav indicator */
.gallery a{
    background-color: var(--gold);
    color: var(--pri-purple);
}


/* hero section */

.wrap{
    max-width: var(--page-width);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 100px;
}



.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;

    width: 30%;
    margin-bottom: 100px;
}

.item-frame{
    display: flex;
    justify-content: center;
    align-items: center;

    /* width: 314px;
    height: 314px; */

    width: 100%;
    max-width: 314px;
    height: 314px;

    background-image: url("../img/ornament-frame.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


.item > a{
    text-decoration: none;
    color: var(--gold);
}

.item img{
    width: 100%;
    max-width: 220px;
}

.item .title{
    text-align: center;
    margin: 10px;
}


@media (max-width: 1199px) {

    .item{
        margin: 3rem;
    }

    .item-frame{
        width: 100%;
        max-width: 220px;
        height: 220px;
    }

    .item a{
        max-width: 140px;
    }

}


@media (max-width: 676px) {

    .item-frame{
        width: 400px;
    }

    .item a{
        width: 200px;
    }
}

@media (max-width: 499px) {

    .wrap{
        flex-direction: column;

    }
    
    .item-frame{
        width: 400px;
    }

    .item a{
        width: 200px;
    }

}


@media (max-width: 374px){

    .item-frame{
        width: 380px;
    }

    .item a{
        width: 180px;
    }
}



/* banner */
.banner{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.banner .wrap{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.banner .wrap > *{
    padding: 10px;
    color: white;
}

@media (max-width: 767px) {

    .banner{
        flex-direction: column;
    }

    .banner > .wrap{
        margin-bottom: 20px;
    }

    .banner p.title{
        text-align: center;
    }

}