@import url("./common/all.css");

/* nav indicator */
.gallery a{
    background-color: var(--gold);
    color: var(--pri-purple);
}


/* hero section */

.wrap{
    max-width: var(--page-width);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 100px;
}

.wrap > .item{
    width: 30%;
    margin-bottom: 100px;
}

.item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-frame{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 314px;
    height: 314px;

    background-image: url("../img/ornament-frame.svg");
    background-repeat: no-repeat;
}

.item > a{
    text-decoration: none;
    color: var(--gold);
}

.item img{
    width: 220px;
    height: 220px;
}

.item .title{
    text-align: center;
    margin: 10px;
}

@media (max-width: 1199px) {

    .item{
        max-width: 33.3%;
        margin: 3rem;
    }

    .wrap > .item{
        margin: 10%;
    }

}

@media (max-width: 767px) {

    .wrap{
        flex-direction: column;
    }

    .wrap > .item {
        margin-bottom: 0;
    }

}


/* banner */
.banner{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.banner .wrap{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.banner .wrap > *{
    padding: 10px;
    color: white;
}

@media (max-width: 767px) {

    .banner{
        flex-direction: column;
    }

    .banner > .wrap{
        margin-bottom: 20px;
    }
/* 
    .button-container{
        margin: 20px;
    } */

}