@import url("./common/all.css");

/* product img */
.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img > img{
    width: 400px;
    height: 400px
}


/* carousel */
.carousel{
    background-color: var(--pri-sec-purple);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 378px;
}

.carousel-frame{
    background-color: var(--pri-sec-purple);
    box-shadow: 1px 1px 15px 0px #00000040 inset,
    -1px -1px 5px 0px #FFFFFF40 inset;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 338px;
    width: 100%;
}

.carousel-wrap{
    display: flex;
    width: 1200px;
    overflow: scroll;
}

.carousel-item > *{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.carousel-item > img{
    width: 184px;
    height: 184px;
    margin-bottom: .5rem;
}


/* banner */

.banner{
    display: flex;
    flex-direction: row;
}

.banner .wrap{
    margin: 0 80px;
    display: flex;
    flex-direction: column;
}

.banner .wrap > *{
    padding: 10px;
    color: white;
}