

footer{
    height: 246px;
    width: 100%;
    position: absolute;
    transform: translateY(-30px);

    background-color: var(--pri-sec-purple);
    color: var(--gold);

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), 
                -1px -1px 4px rgba(251, 239, 174, 0.25);
    border-radius: 30px 30px 0px 0px;

}

.col{
    flex: 1;
    display: flex;
    justify-content: center;
}

/* main section */
.-main{
    flex-direction: column;
    text-align: center;
}

.copyright{
    text-align: center;
    font-size: 12px;
    color: white;
}

.tibame{
    font-size: 8px;
    line-height: 1rem;
}

.-main > a.logo > img{
    margin-bottom: .8rem;
}

/* email section */
.-email{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.-email > p.language{
    display: inline-flex;
}

.input-email, .-social{
    display: flex;
    flex-wrap: nowrap;
}

.input-email > input{
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25), 
                inset -1px -1px 2px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    border: none;

    padding: 10px;
    height: 40px;
    max-width: 240px;

    margin-right: .4rem;
    margin-bottom: 1rem;
}


.input-email > button.button-email{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), 
                -1px -1px 4px rgba(251, 239, 174, 0.25);   
    border-radius: 5px;
    border: none;

    height: 40px;
    width: 40px;

    background-color: #DAB689;
    color: white;
}

input:focus{
    outline: none;
    box-shadow: 0px 0px 5px 0px var(--gold);
}


/* social section */
.-social{
    padding-top: 10px;
}

.social-icon{
    width: 56px;
    padding: 10px;
    margin: 0 15px;

    border-radius: 100px;
    box-shadow: -1px -1px 4px 0px rgba(251, 239, 174, 0.25),
    1px 1px 4px 0px rgba(0, 0, 0, 0.5);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-icon img{
    width: 100%;
    max-width: 44px;
}

.social-icon:hover{
    box-shadow: 1px 1px 15px 0px #00000040 inset,
    -1px -1px 5px 0px #FFFFFF40 inset;
}



@media (max-width: 1199px) {
    footer{
        flex-direction: column;
        height: auto;
        padding: 3rem;
    }

    footer > *{
        padding: 20px;
    }

    footer .-email{
        order: 3;
    }

    footer .-main{
        margin: 0 30px;
    }
    .col{
        flex: 0;
    }

    .-email{
        padding: 0;
    }
}
